body {
  background: #FFFFFF;
  color: #969694;
}

li {
  list-style: none;
}

.fa-linkedin-square {
  font-size: 1.5em;
  color: #0077B5;
}


.fa-github {
  font-size: 1.5em;
  color: black;
}

.fa-envelope {
  font-size: 1.5em;
  color: #B83426;
}

.fa-mobile {
  font-size: 2.15em;
  color: #304960;
}

#banner{
  max-height: 485px;
}

/*#eventr {
  height: 137px;
}*/

img#headshot {
  max-height: 200px;
}

#work li{
  text-align: center;
}