body {
  background: #FFFFFF;
  color: #969694;
}

li {
  list-style: none;
}

.fa-linkedin-square {
  font-size: 1.5em;
  color: #0077B5;
}

.fa-github {
  font-size: 1.5em;
  color: black;
}

.fa-envelope {
  font-size: 1.5em;
  color: #B83426;
}

.fa-mobile {
  font-size: 2.15em;
  color: #304960;
}

#banner{
  max-height: 485px;
}

img#headshot {
  max-height: 200px;
  margin: 0 auto;
  float: right;
}

#eventr {
  min-height: 64.2px;
}

#work {
  table-layout: fixed;
}

#work li{
  text-align: center;
}

.not-mobile {
  display: block;
}

.mobile {
  display: none;
}

.contact {
  border: solid black 1px;
}

i.fa {
  margin: 0px 0px 10px 15px;
} 

.web-dev {
  color: grey;
  margin-left: 15px;
}

#work{
  margin-left: 22px;
}

#name {
  color: black;
}

#pipe {
  margin-left: 5px;
  color: black;
}

img {

}

footer {
  height: 20px;
  margin-top: 25px;
}

/*MIN-WIDTH: "If [device width] is greater than or equal to [specified #], then do {...}" */
@media only screen and (min-width: 1025px)  {
  #eventr {
    height: 180px;
  }

}
/*MAX-WIDTH: "If [device width] is less than or equal to [specified #], then do {...}*/

@media only screen and (max-width: 1024px)  {

  .mobile {
    display: block;
  }
  .not-mobile {
    display: none;
  }

  .mobile .row {
    margin: 5px;
  }

  #phone {
    padding-top: 5px;
  }

}

/*MAX-WIDTH: "If [device width] is less than or equal to [specified #], then do {...}*/

@media only screen and (max-width: 400px)  {

  h1 {
    color: red;
  }

  #pipe {
    display: none;
  }

  span.web-dev {
    margin-left: 0px;
  }
}
