h4 {
  padding-bottom: 24px;
}

#banner img{
  opacity: 0.6;
  z-index: -12;

}

.name-header{
  margin: 0 auto;
  width: 95%;
  height: 20%;
  position: absolute;
  bottom: 164px;
}

.name-header h1{
  margin: 0 auto;
  width: 95%;
}

.web-dev {
  color: #36363a;
}

.name {
  color: black;
}

div.large-4:nth-child(5) h5 {
  padding-bottom: 15px;
}

a img {
  margin-bottom: 15px;
}

.large-3.small-3.columns {
  text-align: center;
}

.large-3.small-3.columns:nth-child(1) {
  padding-left: 60px
}

.large-3.small-3.columns:nth-child(2) {
  padding-left: 30px
}

.large-3.small-3.columns:nth-child(3) {
  padding-left: 17px
}
.name, .web-dev {
    width: 95%;
    margin: 0px auto;
    letter-spacing: 6px;
    font-size: 41px;
    padding-left: 20px;
}

body {
  background: #FFFFFF;
  color: #969694;
}

li {
  list-style: none;
}

.fa-linkedin-square {
  font-size: 1.5em;
  color: #0077B5;
}

.fa-github {
  font-size: 1.5em;
  color: black;
}

.fa-envelope {
  font-size: 1.5em;
  color: #B83426;
}

.fa-mobile {
  font-size: 2.15em;
  color: #304960;
}

img#headshot {
  max-height: 200px;
  margin: 0 auto;
  float: right;
}

#eventr {
  min-height: 64.2px;
}

#work {
  margin-left: 22px;

}

#work li{
  text-align: center;
}

.not-mobile {
  display: block;
}

.mobile {
  display: none;
}

.not-mobile-name {
  display: block;
}

.mobile-name {
  display: none;
}

.contact {
  border: solid black 1px;
}

i.fa {
  margin: 0px 0px 10px 15px;
} 

.pipe {
  color: #CAEF86;
}

footer {
  height: 20px;
  margin-top: 25px;
}

.mobile-line {
  display: none;
}

#about {
  padding-top: 10px;
}

/*MIN-WIDTH: "If [device width] is greater than or equal to [specified #], then do {...}" */
@media only screen and (min-width: 1025px)  {
  #eventr {
    height: 180px;
  }

}
/*MAX-WIDTH: "If [device width] is less than or equal to [specified #], then do {...}*/

@media only screen and (max-width: 1024px)  {

  #about {
    margin-top: 25px;
  }

  .mobile {
    display: block;
  }

  .not-mobile {
    display: none;
  }

  .mobile .row {
    margin: 5px;
  }

  #phone {
    padding-top: 5px;
  }

}

/*MAX-WIDTH: "If [device width] is less than or equal to [specified #], then do {...}*/

@media only screen and (max-width: 990px)  {
  
  .name-header {
    padding-left: 10px;
        text-align: center;

  }
  span.name, span.web-dev{
    text-align: center;
    font-size: 38px;
  }

}

@media only screen and (max-width: 989px)  {
    .pipe {
    display: none;
  }

  .name-header{
    margin: 0 auto;
        text-align: center;

  }
  
  span.name, span.web-dev{
    color: red;
    text-align: center;
  }

  .mobile-name {
    display: block;
  }
  
  .not-mobile-name {
    display: none;
  }
}


@media only screen and (max-width: 554px)  {

  .name-header {
    top: 22px;
    margin: 0 auto;
    width: 96%;
    padding-right: 25px;
  }

  h1.name, h1.web-dev{
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
  }

  h1.name {
    color: black;

  }

  h1.web-dev {
    color: #36363a;
  }
}

@media only screen and (max-width: 400px) {
  
  .name-header {
    padding-right: 26px;
  }

  h1.name, h1.web-dev{
    font-size: 1.1em;
  }

}

@media only screen and (max-width: 315px) {

  .name-header {
    height: 100%;
    overflow: hidden;
  }

  h1.name, h1.web-dev{
    font-size: 1.11em;
  }

}

